<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{blog.title}}</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %} > - {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>Update : {{blog.title}}</h1>
    <form method="POST"> {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
    </form>
</body>
</html>