<!DOCTYPE html>
<html lang="en">
<head>
    <title>Club Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav nav-pills">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:10%">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<!-- Page Content -->
<div style="margin-left:10%">

<div class="w3-container w3-teal">
  <h1>My Page</h1>
</div>

<img src="img_car.jpg" alt="Car" style="width:100%">

<div class="w3-container">
<h1>Main Content</h1><br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis pharetra turpis eu tempus. Phasellus consectetur
    diam turpis, at aliquet lacus elementum sed. Maecenas diam magna, malesuada eu metus id, porta pretium quam. Curabitur
    ullamcorper blandit arcu sed pulvinar. Etiam vitae condimentum ante, ac consequat ipsum. Maecenas sit amet magna sit amet
    lorem maximus imperdiet quis quis ligula. Maecenas eu nisl eget ex hendrerit iaculis id id enim. Morbi porta mi eros, ac
    volutpat dolor vulputate at. Nulla placerat faucibus augue, in pretium augue consequat eu.</p>

<p> non quam laoreet, ornare dui non, posuere nisl. Vestibulum neque tortor, volutpat sed risus at, rhoncus vestibulum
    tellus. Vestibulum volutpat tellus vel auctor maximus. Nunc vestibulum suscipit ipsum. Suspendisse non ipsum ac ex
    consequat molestie blandit a orci. Pellentesque convallis sagittis metus, ac vulputate nisi pulvinar luctus. Donec
    sit amet ullamcorper ipsum, sit amet feugiat quam. Nulla mollis tincidunt commodo. Donec ut cursus nisl. Quisque
    fringilla dui at metus pulvinar dapibus. Nam ut facilisis dui. Interdum et malesuada fames ac ante ipsum primis in
    faucibus. Praesent pulvinar, turpis quis consequat feugiat, velit tortor rutrum dui, id imperdiet est erat ac magna.</p>

<p>Etiam blandit tincidunt metus eu placerat. Etiam vel rutrum tellus. Orci varius natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus. Donec et ultrices nibh, sit amet dignissim massa. Curabitur facilisis
    aliquam leo sed consequat. Pellentesque dolor lorem, fringilla id augue eget, pellentesque finibus enim. Proin commodo,
    dolor in tristique iaculis, sem lorem dapibus sem, id volutpat tellus arcu ut orci. Duis gravida sem et fringilla rhoncus.
    Nulla facilisi.</p>

<p> Vestibulum nec laoreet eros, at pharetra mi. Nam pulvinar facilisis laoreet. Fusce porttitor egestas efficitur.
    Aenean iaculis finibus condimentum. Vivamus fringilla non dui eleifend tempor. Mauris viverra facilisis felis,
    non consectetur justo lacinia et. Integer sit amet congue justo. Cras lobortis imperdiet risus, quis accumsan mauris
    venenatis non. Sed auctor at mi eget mollis. Nam et massa nec odio iaculis rutrum. Nulla in sem eu elit venenatis
    suscipit id vel lacus. Vivamus fringilla nibh diam, ac rutrum nisi gravida sed. Duis non lectus dignissim,
    fringilla sem id, posuere augue. Donec hendrerit lectus neque, non gravida justo ultrices a.</p>

<p> Vivamus ornare erat ante, at aliquet ipsum suscipit at. Phasellus sed magna est. In diam orci, placerat sed mauris
    nec, convallis tincidunt eros. Praesent quis eros sapien. Sed malesuada nibh sed convallis semper. Etiam justo
    metus, volutpat sed vulputate eget, rhoncus nec nisl. Aenean laoreet dapibus ipsum, suscipit blandit nibh volutpat
    euismod. Sed lectus mi, pretium eu imperdiet a, pharetra eu turpis. Proin suscipit eleifend aliquam. Aliquam suscipit
    convallis vestibulum. Maecenas vehicula lacus et varius bibendum. Maecenas semper vulputate euismod. Nunc sodales
    nulla in nisl gravida sollicitudin. Aenean eu dui sollicitudin, pretium mi vitae, convallis metus.</p>
</div>

</div>

<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>


